@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* button */
  --color-btn-solid: var(--foreground);
  --color-btn-solid-fg: var(--background);
  --color-btn-outline: var(--foreground);
  --color-btn-outline-fg: var(--foreground);

  /* pill */
  --color-pill: var(--secondary);

  /* Drawer */
  --color-ring: var(--ring);
  --color-border: var(--border);
  --color-muted: var(--muted);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --secondary: #e5e5e5;
  --foreground: oklch(0.2 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@utility responsive-body {
  /* 3 cols: empty_content_empty */
  @apply grid grid-cols-[auto_clamp(300px,100%,640px)_auto];

  & > * {
    /* Constrain children of main to middle column */
    @apply col-start-2 col-end-3;
  }
}

.poke1 {
  background-image: url("./images/L1_POKE.png");
}
.poke2 {
  background-image: url("./images/L2_POKE.png");
}
.poke3 {
  background-image: url("./images/L3_POKE.png");
}
.poke4 {
  background-image: url("./images/L4_POKE.png");
}
